/*.resetPassword-wrapper-light {
    background: url("https://res.cloudinary.com/cloud8/image/upload/v1681731418/Frame_76_1_jna7ii.png");
    background-size: cover;
    background-position: center;
}

.resetPassword-wrapper-dark {
    background: url("https://res.cloudinary.com/cloud8/image/upload/v1681731575/Frame_78_avdgdq.png");
    background-size: cover;
    background-position: center;
}*/

.resetPassword-wrapper-dark {
    background: #000
}

.resetPassword-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(97vh - 34px);
}

.resetPassword-container .card {
    width: 33rem;
    padding: 0 20px;
    border: 1px solid #434244;
    border-radius: 20px;
}

.resetPassword-container .card .card-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

.resetPassword-container .card .card-title-light {
    color: #343335;
}

.resetPassword-container .card .card-title-dark {
    color: #eceaea;
}

.resetPassword-container .card {
    width: 33rem;
    padding: 0 20px;
    border: 1px solid #434244;
    border-radius: 20px;
    background-color: inherit;
}

.resetPassword-container .form-control {
    border-radius: 1rem;
}

.resetPassword-container .card-light .form-control {
    border: 0.1px solid #363636;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0 5px 0;
}

.resetPassword-container .card-dark .form-control {
    background-color: inherit;
    color: #eceaea;
    border: 0.03rem solid #7b7b7b;    
    padding: 10px;
    margin: 5px 0 5px 0;
}

.resetPassword-container .card-dark .form-control::placeholder {
    color: #eceaea;
}

.password-toggle-dark {
    color: #eceaea;
}

.secret-question {
    font-weight: 600 !important;
}

.resetPassword-container .card form button{
    background-color: #302769;
    width: 12vw;
    color: #ffffff;
    border-radius: 12px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    border-color: #302769;
    margin: 10px 0;
    border-radius: 20px;
}

.resetPassword-container .card form button:hover{
    background-color: #86CEDA;
    color:#000;
}

.resetPassword-container .card .error p{
    color: #c93c23;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    padding-top: 2vh;
}

.remembered-password {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    margin-top: -15px;
}
    
.remembered-password-question {
    margin-right: -7px;
    margin-left: 11px;
}

.remembered-password-question-dark {
    color: #fff;
}
    
.remembered-password .nav-ink {
    white-space: nowrap;
}
